#splash {
  height: 100vh;
  background-image: url(http://www.gratefulweb.com/sites/default/files/inline-images/_DSC5134.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}
#splash h2 {
  position: absolute;
  left: 0;
  right: 0;
  transform: translatey(50vh);
  text-align: center;
  color: #fff;
  font-size: 3rem;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 25%)
}
#splash .overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25)
}